// colors
$userProfile: hsl(246, 80%, 60%);
$workHeader: hsl(15, 100%, 70%);
$playHeader: hsl(195, 74%, 62%);
$studyHeader: hsl(348, 100%, 68%);
$exerciseHeader: hsl(145, 58%, 55%);
$socialHeader: hsl(264, 64%, 52%);
$selfCareHeader: hsl(43, 84%, 65%);
$backgroundColor: hsl(226, 43%, 10%);
$timeSummary: hsl(235, 46%, 20%);
$pColor: hsl(236, 100%, 87%);
$inactiveA: hsl(235, 45%, 61%);

// typography
$fontSize: 18px !default;
$fontFamily: 'Rubik', sans-serif;
$fontWeight1: 300;
$fontWeight2: 400;
$fontWeight3: 500;


body {
    background-color: $backgroundColor;
    font-family: $fontFamily;
    font-size: $fontSize;
    color: white;
}

h1 {
    font-weight: $fontWeight1;
}

h2 {
    font-weight: $fontWeight2;
}

p {
    color: $pColor;
    font-weight: $fontWeight1;
}

