body {
  background-color: #0f1424;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: white;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

p {
  color: #bdc1ff;
  font-weight: 300;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8%;
  margin-bottom: 7%;
}

.userHeader {
  background-color: #1c1f4a;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 16%;
}

.userHeader .user {
  background-color: #5847eb;
  border-radius: 1rem;
  padding-top: 7%;
  padding-left: 12%;
}

.userHeader img {
  margin: 10px;
  border: 3px solid white;
  -webkit-border-radius: 500px;
  width: 30%;
}

.userHeader p {
  padding-top: 10%;
  margin: 0;
}

.userHeader h1 {
  margin: 0;
  padding-bottom: 47%;
}

.userHeader .reportType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1c1f4a;
  border-radius: 1rem;
  text-decoration: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 12%;
}

.userHeader a {
  text-decoration: none;
  padding-top: 8%;
  font-size: 1.3rem;
  padding-bottom: 5%;
  color: #6f76c8;
}

.userHeader a:active {
  color: white;
}

.columns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 1.5rem;
}

.work {
  background-color: #ff8c66;
  border-radius: 1rem;
}

.play {
  background-color: #56c2e6;
  border-radius: 1rem;
}

.play #reportBox {
  width: auto;
}

.study {
  background-color: #ff5c7c;
  border-radius: 1rem;
}

.exercise {
  background-color: #4acf81;
  border-radius: 1rem;
}

.social {
  background-color: #7536d3;
  border-radius: 1rem;
}

.selfCare {
  background-color: #f1c65b;
  border-radius: 1rem;
}

#reportBox {
  width: 30%;
  border-radius: 1rem;
}

#reportBox .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  height: 3rem;
  overflow: hidden;
  padding-right: 5%;
}

#reportBox .header img {
  margin-top: .5rem;
}

#reportBox .summary {
  background-color: #1c1f4a;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10%;
  line-height: 0;
  width: auto;
}

#reportBox .summary .headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5%;
}

#reportBox .summary .headerMenu p {
  color: white;
}
/*# sourceMappingURL=main.css.map */